:host {
  display: block;
}

.btn-outline-primary {
  border-color: var(--cor-primaria);
  color: var(--cor-primaria);
  
  &:hover {
    background-color: var(--cor-primaria);
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 74, 77, 0.2);
  }
  
  transition: all 0.3s ease;
}

figure.border-danger {
  border-color: var(--cor-secundaria) !important;
}