.hero-section {
  position: relative;
  height: calc(100dvh - 85px);
  height: calc(100vh - 85px);
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  padding: 0 2rem;
  text-align: center;

  .cta-button {
    background-color: var(--cor-destaque);
    border-color: var(--cor-destaque);
    color: var(--cor-texto);
    &:hover {
      background-color: #d4ac0d;
      border-color: #d4ac0d;
    }
  }
}
