:host {
  --cor-primaria: #2E4636;
  --cor-secundaria: #a05222;
  --cor-texto: #25382B;
  --cor-texto-claro: #F9F7F4;

  --background: #E6D8C5;
  --background2: #F9F7F4;
  display: block;
}

.service-text ul {
  list-style: none;
  padding-left: 0;
  li {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 0.5rem;
    i {
      color: var(--cor-secundaria);
    }
  }
}

.service-card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%; // Garante que o card ocupe a coluna
  
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1) !important;
  }

  .service-card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .service-card-body {
    padding: 1.5rem;

    h3 {
      font-weight: 700;
      color: var(--cor-primaria);
      margin-bottom: 1rem;
    }
  }
}

.service-list {
  li {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 0.5rem;
    font-size: 0.95rem;

    i {
      color: var(--cor-secundaria);
    }
  }
}