:host {
  --cor-primaria: #2e4636;
  --cor-secundaria: #a05222;
  --cor-texto: #25382b;
  --cor-texto-claro: #f9f7f4;

  --background: #e6d8c5;
  --background2: #f9f7f4;
  display: block;
}

.service-card-horizontal {
  border: none; // Remove a borda padrão do card
  border-radius: 8px;
  overflow: hidden; // Para os cantos arredondados

  .card-body {
    padding: 2.5rem; // Mais espaço interno para o texto
  }

  h3 {
    font-weight: 700;
    color: var(--cor-primaria); // Azul
    margin-bottom: 1rem;
  }
}

.service-card-img {
  // Estas propriedades garantem que a imagem preencha
  // o container 4x3 perfeitamente
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-list {
  li {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 0.5rem;
    i {
      color: var(--cor-secundaria); // Vermelho
    }
  }
}
