:root {
  --cor-primaria: #004A4D;   /* Um azul escuro, por exemplo */
  --cor-secundaria: #dc3545; /* Um azul mais claro */
  --cor-destaque: #f1c40f;   /* Um amarelo/dourado */
  --cor-texto: #333333;
  --cor-texto-claro: #ffffff;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Exemplo de fonte */
}